/* Reset HTML Elements */ /* ----------------------------------------- */
*,
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
label,
fieldset,
input,
p,
blockquote,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
::selection {
  background: #aaa;
  color: #fff;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  margin: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ul {
  list-style: none;
}
caption,
th {
  text-align: right;
  font-weight: bold;
}
q:before,
q:after {
  content: '';
}
* {
  outline: none;
}
strong {
  font-size: 16px;
  font-weight: bold;
}
em {
  font-style: italic;
}
a img {
  border: 0;
}
/*-General Styles------------------------------------------*/
a {
  color: #333;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}
a:active {
  border: 0;
}

p {
  line-height: 32px;
}
.clearfix:after {
  content: '';
  clear: both;
}
.clearfix {
  zoom: 1; /* IE 6/7 */
}
.clear {
  clear: both;
}
h1,
h2,
h3,
h4,
h5,
h6,
figcaption,
pre,
a,
p,
input,
textarea,
select,
label,
table,
strong,
small,
span,
time,
ol,
ul {
	font-family: 'Montserrat', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0.6rem 0;
}
h1 {
  font-size: 1.625rem;
  line-height: 2.5rem;
}
h2 {
  font-size: 1.5rem;
  line-height: 2.375rem;
}
h3 {
  font-size: 1.375rem;
  line-height: 2.25rem;
}
h4 {
  font-size: 1.25rem;
  line-height: 2.125rem;
}
h5 {
  font-size: 1.125rem;
  line-height: 2rem;
}
h6 {
  font-size: 1rem;
  line-height: 1.875rem;
}
input[type='submit'],
input[type='button'] {
  cursor: pointer;
}
input,
button {
  border: none;
  background: none;
}
button:focus {
  outline: none;
}
table {
  font-size: 0.8rem;
}
