/* Reset HTML Elements */
/* ----------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
*,
html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
label,
fieldset,
input,
p,
blockquote,
th,
td,
article,
aside,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

article,
aside,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

::-moz-selection {
  background: #aaa;
  color: #fff;
}

::selection {
  background: #aaa;
  color: #fff;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  padding: 0;
  margin: 0;
}

fieldset,
img {
  border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ul {
  list-style: none;
}

caption,
th {
  text-align: right;
  font-weight: bold;
}

q:before,
q:after {
  content: '';
}

* {
  outline: none;
}

strong {
  font-size: 16px;
  font-weight: bold;
}

em {
  font-style: italic;
}

a img {
  border: 0;
}

/*-General Styles------------------------------------------*/
a {
  color: #333;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

a:active {
  border: 0;
}

p {
  line-height: 32px;
}

.clearfix:after {
  content: '';
  clear: both;
}

.clearfix {
  zoom: 1;
  /* IE 6/7 */
}

.clear {
  clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6,
figcaption,
pre,
a,
p,
input,
textarea,
select,
label,
table,
strong,
small,
span,
time,
ol,
ul {
  font-family: 'Montserrat', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0.6rem 0;
}

h1 {
  font-size: 1.625rem;
  line-height: 2.5rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 2.375rem;
}

h3 {
  font-size: 1.375rem;
  line-height: 2.25rem;
}

h4 {
  font-size: 1.25rem;
  line-height: 2.125rem;
}

h5 {
  font-size: 1.125rem;
  line-height: 2rem;
}

h6 {
  font-size: 1rem;
  line-height: 1.875rem;
}

input[type='submit'],
input[type='button'] {
  cursor: pointer;
}

input,
button {
  border: none;
  background: none;
}

button:focus {
  outline: none;
}

table {
  font-size: 0.8rem;
}

header .header-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-left: 3rem;
  padding-bottom: 1rem;
  min-height: 160px;
  background: #222A2B;
  margin-left: 300px;
  color: #fff;
}

header .header-section .page-title h3 {
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 0;
}

header .header-section .page-title p {
  opacity: 0.7;
  font-size: 0.8rem;
  line-height: 24px;
}

header .header-section .filter-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-section .filter-section .filter-item {
  margin-right: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  min-width: 250px;
}

header .header-section .filter-section .filter-search input {
  color: #fff;
  padding: 0.5rem;
}

header .header-section .filter-section .filter-search i {
  padding: 0.5rem;
}

header .header-section .filter-section .filter-select select {
  width: 100%;
  border: 0;
  background: transparent;
  color: #fff;
  padding: 0.5rem;
}

header .header-section .filter-section .filter-select option {
  border: 0;
  background: #222A2B;
  padding: 0.5rem 0;
}

header .header-section .filter-section .filter-checkbox label {
  padding: 0.5rem;
}

.side-nav {
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}

.side-nav .top-section {
  background: linear-gradient(45deg, #00B4DB, #0083B0);
  min-height: 160px;
  position: relative;
}

.side-nav .top-section .menu-btn {
  position: absolute;
  right: 1rem;
  top: 1rem;
}

.side-nav .top-section .menu-btn i {
  font-size: 1.5rem;
  color: #fff;
}

.side-nav .top-section .user-info {
  position: absolute;
  width: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, 60%);
          transform: translate(-50%, 60%);
  text-align: center;
}

.side-nav .top-section .user-info p {
  color: #fff;
  text-transform: capitalize;
}

.side-nav .top-section .user-info .user-image {
  width: 100px;
  height: 100px;
  margin: auto;
  background: #222A2B;
  border-radius: 50%;
  padding: 5px;
}

.side-nav .nav-section {
  background: #222A2B;
  height: 100%;
}

.side-nav .nav-section .main-nav {
  padding-top: 5rem;
}

.side-nav .nav-section .main-nav li {
  background: #0E1719;
  margin: 0.8rem 1.5rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-left: 2px solid #008DB9;
}

.side-nav .nav-section .main-nav li:hover {
  -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.side-nav .nav-section .main-nav li:hover a {
  color: #008DB9;
}

.side-nav .nav-section .main-nav li.active {
  background: -webkit-gradient(linear, right top, left top, from(#004E92), to(#000428));
  background: linear-gradient(to left, #004E92, #000428);
}

.side-nav .nav-section .main-nav li i {
  padding-left: 1rem;
  padding-right: 0.5rem;
}

.side-nav .nav-section .main-nav li a {
  color: #fff;
  padding: 0.5rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-transform: capitalize;
}

.main-content {
  background: radial-gradient(#004E92, #000428);
  margin-left: 300px;
  height: 100vh;
  padding: 2rem;
}

.main-content .project {
  padding: 1.5rem;
  border-left: 4px solid #008DB9;
  background: #222A2B;
  margin-bottom: 1rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.main-content .project:hover {
  -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

.main-content .project:hover .content h4 {
  color: #008DB9;
}

.main-content .project .content h4 {
  color: #fff;
  text-transform: capitalize;
  font-weight: bold;
}

.main-content .project .content p {
  color: #f5f5f5;
  font-size: 0.9rem;
  line-height: 28px;
}

.main-content .project .details {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-content .project .details span {
  font-size: 0.8rem;
}

.main-section {
  background: linear-gradient(45deg, #004e92 10%, #000428 70%);
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-section svg {
  width: 450px;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
}

.main-section canvas {
  position: absolute;
  z-index: 0;
}

.left-section,
.right-section {
  color: #fff;
}

.left-section {
  margin: 0 4rem;
}

.left-section h3 {
  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.left-section p {
  line-height: 24px;
}

.right-section {
  z-index: 2;
}

.right-section h5 {
  text-transform: capitalize;
  font-size: 1.8rem;
  font-weight: bold;
}

.right-section form {
  padding: 1rem;
  width: 70%;
  margin: 0 auto;
}

.right-section form .form-input {
  margin-bottom: 2rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.right-section form .form-input input {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  padding: 10px;
  -webkit-transition: -webkit-box-shadow 0.2s 0.1s;
  transition: -webkit-box-shadow 0.2s 0.1s;
  transition: box-shadow 0.2s 0.1s;
  transition: box-shadow 0.2s 0.1s, -webkit-box-shadow 0.2s 0.1s;
  color: #fff;
}

.right-section form .form-input input:focus {
  background: -webkit-gradient(linear, left top, right top, from(#004E92), to(#000428));
  background: linear-gradient(to right, #004E92, #000428);
  color: #fff;
  -webkit-box-shadow: 4px 4px 6px rgba(255, 255, 255, 0.3);
          box-shadow: 4px 4px 6px rgba(255, 255, 255, 0.3);
  border-color: transparent;
}

.right-section form .form-input i {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.right-section form .form-input small {
  position: absolute;
  top: 100%;
}

.right-section form .form-btn button {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  -webkit-transition: -webkit-box-shadow 0.2s 0.1s;
  transition: -webkit-box-shadow 0.2s 0.1s;
  transition: box-shadow 0.2s 0.1s;
  transition: box-shadow 0.2s 0.1s, -webkit-box-shadow 0.2s 0.1s;
}

.right-section form .form-btn button.disable {
  color: #9E9E9E;
  background: #d0d0d0;
}

.right-section form .form-btn button.active {
  color: #fff;
  background: -webkit-gradient(linear, left top, right top, from(#004E92), to(#000428));
  background: linear-gradient(to right, #004E92, #000428);
}

.right-section form .form-btn button.active:hover {
  cursor: pointer;
  -webkit-box-shadow: 4px 4px 6px rgba(255, 255, 255, 0.3);
          box-shadow: 4px 4px 6px rgba(255, 255, 255, 0.3);
}

.right-section form .back-link {
  text-align: center;
}

.right-section form .back-link a {
  color: #003C78;
  font-weight: bold;
}
/*# sourceMappingURL=main.css.map */